<div *ngIf="hero">
    <h2>{{hero.firstName}} details!</h2>
    <div><label>id: </label>{{hero.id}}</div>
    <div>
        <label>First Name: </label>
        <input [(ngModel)]="hero.firstName" placeholder="First Name">
    </div>
    <div>
        <label>Last Name: </label>
        <input [(ngModel)]="hero.lastName" placeholder="Last Name">
    </div>
    <div>
        <label>Email: </label>
        <input [(ngModel)]="hero.email" placeholder="abc@cde.com">
    </div>
    <div>
        <label>Number: </label>
        <input [(ngModel)]="hero.number" placeholder="123456789">
    </div>
    <button (click)="save()">Save</button>
</div>
